<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Link Contact.css-->
    <link rel="stylesheet" href="css/contact.css">
</head>
<body>
     <!--NavBar-->
     <nav>
        <!--Logo of NavBar-->
        <img src="./Photos/logo.png" alt="" style="width: 100px;">
        <ul>
            <li><a href="./index">Home</a></li>
            <li><a href="./About">About Us</a></li>
            <li><a href="./contact">Contact us</a></li>
            <li><a href="./register">Sign Up</a></li>
        </ul>
    </nav>
    <form action="">
        <fieldset>
            <h1>Contact Form</h1>
            <h2>Name</h2>
            <input type="text" placeholder="Enter your name">
            <h2>Email</h2>
            <input type="text" placeholder="Enter ypur email">
            <h2>Message</h2>
            <textarea cols="30" rows="5" placeholder="Enter you Message"></textarea>

            <button>Submit</button>
        </fieldset>
    </form>
</body>
</html>