*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url("stethoscope.png");
}
nav ul{
    display: flex;
    float: right;
    margin-right: 100px;

}
nav ul li{
    margin: 40px;
    list-style: none;
}
nav ul li a{
    color: black;
    font-weight: 600;
    text-decoration: none;
}
nav img{
    margin: 13px;
}
main{
    width: 100%;
    margin: 6% auto;
    
}
main .spatial{
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      color: rgb(56, 190, 138);
      line-height: 100px;
}
main p{
    text-align: center;
    font: bold;
}
p{
    float: bold;
    font-size: 20px;
}
.main{
    position: relative;
    height: 400px;
    width: 100%;
}
.base{
    width: 100%;
    height: 400px;
    background-image: conic-gradient(rgb(20, 161, 231),rgb(232, 232, 18),green);
}
.Container{
    display: flex;
    flex-direction: row;
}
.cardbox{
        
    height: 180px;
    width: 100%;
    margin-left: 2%;
   
}
.card{
   
    overflow: hidden;
    height: 206px;
    width: 400px;
    margin: 30px 20px;
    border: solid black;
  
    display: inline-block;
    
}
#img{
    margin-top: 5px;
    height: 190px;
    width: 170px;
    float: left;
    
}
#hh{
    color: aliceblue;
    padding: 40px 10px 40px 80px;
}